Repository EXPRESSFOOD2/customerclient, pull requests merged in 2023-02, with the labels that each got.

#14 Feature/11 create landing pages
  public/index.html
  src/components/home/img/LandingBG.jpg
  src/components/home/img/logo.png
  src/components/home/landingPage/LandingPage.jsx
  src/components/home/landingPage/landingPage.module.css
  src/components/home/navbar/Navbar.jsx
  src/components/home/navbar/navbar.module.css
  src/pages/home/Home.jsx
Labels: CSS

#17 Feature/2 crear formulario registro de usuarios
  public/index.html
  src/components/register/Form.jsx
  src/components/register/form.module.css
  src/components/register/image/formImg.jpg
  src/pages/home.jsx
  src/pages/register/Register.jsx
Labels: CSS

#27 Feature/22 actualizar navbar
  src/App.js
  src/components/home/navbar/Navbar.jsx
  src/components/home/navbar/navbar.module.css
  src/index.css
  src/pages/store/Store.jsx
  src/shared/navbar/Navbar.jsx
  src/shared/navbar/logo.png
  src/shared/navbar/navbar.module.css
Labels: CSS

#28 ajusting form css
  src/components/register/Form.jsx
  src/components/register/form.module.css
Labels: CSS

#29 Feature/23 crear carrusel en home page
  package-lock.json
  package.json
  src/components/home/carousel/Carousel.jsx
  src/components/home/carousel/carousel.css
  src/components/home/carousel/imgCarousel.json
  src/pages/home/Home.jsx
Labels: CSS

#32 Adds Store Pagination
  src/pages/detailMenu/DetailMenu.jsx
  src/pages/store/Store.jsx
  src/pages/store/Store.module.css
  src/shared/Pagination/Pagination.jsx
  src/shared/Pagination/Pagination.module.css
Labels: local store

#38 Feature/37 adding another carousel in home page
  src/components/home/carousel/Carousel.jsx
  src/components/home/foodCards/FoodCards.jsx
  src/components/home/foodCards/card/Card.jsx
  src/components/home/foodCards/card/card.module.css
  src/components/home/foodCards/foodCards.module.css
  src/components/home/foodCards/swiper.css
  src/index.css
  src/pages/home/Home.jsx
Labels: CSS, Route

#49 Feature/48 get recommended menus
  src/pages/home/Home.jsx
  src/redux/actions/index.js
  src/redux/reducer/index.js
  src/shared/Loading/Loading.jsx
Labels: CSS, redux

#56 Auth Google CSS and implementation
  package-lock.json
  package.json
  src/App.js
  src/components/Cart/card/Card.jsx
  src/components/Cart/cardsContainer/CardsContainer.jsx
  src/pages/Cart/Cart.jsx
  src/pages/Cart/cart.module.css
  src/shared/navbar/Navbar.jsx
  src/shared/navbar/navbar.module.css
Labels: CSS, local store

#58 Feature/54 agregar carrito de compra
  src/components/Cart/card/Card.jsx
  src/components/Cart/card/card.module.css
  src/components/Cart/cardsContainer/CardsContainer.jsx
  src/components/Cart/cardsContainer/cards.module.css
  src/components/Cart/detailCart/DetailCart.jsx
  src/components/Cart/detailCart/detailCart.module.css
  src/components/home/foodCards/card/Card.jsx
  src/components/store/Product/ProductCard.jsx
  src/pages/Cart/Cart.jsx
  src/pages/Cart/cart.module.css
  src/pages/detailMenu/DetailMenu.jsx
  src/pages/detailMenu/DetailMenu.module.css
  src/redux/actions/index.js
  src/redux/reducer/index.js
  src/shared/navbar/Navbar.jsx
  src/shared/navbar/navbar.module.css
Labels: CSS, redux, local store

#67 Se almacena el total del carrito en el localStorage y se recupera
  src/components/Cart/card/Card.jsx
  src/components/Cart/cardsContainer/CardsContainer.jsx
  src/components/Cart/detailCart/DetailCart.jsx
  src/pages/detailMenu/DetailMenu.jsx
  src/redux/actions/index.js
  src/redux/reducer/index.js
Labels: bug

#69 Probando eslint y corrigiendo errores en el anterior merge
  .eslintrc.js
  package-lock.json
  package.json
  src/components/Cart/card/Card.jsx
  src/components/Cart/cardsContainer/CardsContainer.jsx
  src/components/Cart/detailCart/DetailCart.jsx
  src/components/Login/CreateLogin.jsx
Labels: bug

#70 Filtrado por tags
  src/components/buttonsFilter/ButtonFilter.jsx
  src/pages/store/Store.jsx
  src/redux/actions/index.js
  src/redux/reducer/index.js
Labels: enhancement

#71 Cart 2.0
  src/components/Cart/card/Card.jsx
  src/components/Cart/cardsContainer/CardsContainer.jsx
Labels: bug

#73 Corrigiendo Redux y {} en case donde se declaran variables
  src/redux/actions/index.js
  src/redux/reducer/index.js
Labels: bug

#74 moduralizar fn en redux
  src/redux/reducer/index.js
Labels: enhancement

#77 Se arreglo el bug del contador del carrito
  src/components/Cart/detailCart/DetailCart.jsx
  src/pages/detailMenu/DetailMenu.jsx
  src/redux/reducer/index.js
  src/shared/navbar/Navbar.jsx
Labels: bug

#85 Crea 2 componentes y Rutas Para Manejar Errores y Exitos del pago
  .env
  src/App.js
  src/index.js
  src/pages/payment/payment_failure.jsx
  src/pages/payment/payment_success.jsx
  src/pages/payment/payment_success.module.css
Labels: enhancement

#90 responsive app css
  src/components/home/Card/card.module.css
  src/components/home/carousel/carousel.css
  src/components/home/foodCards/FoodCards.jsx
  src/components/home/foodCards/card/card.module.css
  src/components/home/foodCards/foodCards.module.css
  src/components/home/foodCards/swiper.css
  src/components/store/Product/ProductCard.module.css
  src/pages/store/Store.module.css
  src/shared/Footer/CreateFooter.module.css
  src/shared/Footer/CretaeFooter.jsx
  src/shared/navbar/Navbar.jsx
  src/shared/navbar/navbar.module.css
Labels: CSS

#92 Se borra localStorge al comprar o logout
  src/components/Login/CreateLogin.jsx
  src/index.js
  src/pages/payment/payment_success.jsx
  src/redux/actions/index.js
  src/redux/reducer/index.js
  src/shared/navbar/Navbar.jsx
Labels: feature

#95 Cambio de formato del envio al back
  src/components/Cart/detailCart/DetailCart.jsx
  src/components/Login/CreateLogin.jsx
  src/index.js
Labels: bug
